html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
}

.app {
    border-top: 20px solid $yellow;

    @media (min-width: 960px) {
        border-top: 0;
        height: 100%;
    }

    > div {
        height: 100%;
    }
}

h1, h2, h3 {
    font-family: 'PT Serif';
    font-weight: 700;
    font-style: normal;
}

p {
    margin-bottom: 30px;
    line-height: 2.5rem;
    font-size: 1.6rem;
    color: $text;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        @extend .link;
    }
}

.link {
    font-weight: 700;
    color: $links;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.content {
    margin: 60px 16.665% 0;

    @media (min-width: 960px) {
        margin-top: 0;
    }

    &__first {
        padding-bottom: 60px;
        border-bottom: 1px solid $border;
    }
}

.header {
    &__h1 {
        margin-bottom: 60px;
        line-height: 3rem;
        font-size: 2.5rem;
    }
}

.colored-cols {
    height: 100%;

    [class*='col-'] {
        height: 100%;
    }
}

.colored-col {
    display: none;
    position: relative;

    &--yellow {
        background-color: $yellow;
    }

    &--red {
        background-color: $red;
    }

    @media (min-width: 960px) {
        display: block;
    }
}

.chihuahua {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 385px;
    height: 628px;
    margin: auto;
    overflow: auto;
    background: url(../img/civava.png) no-repeat;
    background-size: 385px 628px;

    @media (min-width: 1945px) {
        width: auto;
    }
}

.social {
    margin-top: 60px;

    &__list {
        &-item {
            display: block;
            margin-bottom: 15px;
            font-size: 1.6rem;

            @media (min-width: 460px) {
                display: inline-block;
                margin-right: 60px;
                margin-bottom: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                @extend .link;
            }
        }
    }
}
