$yellow: #fff162; // column with chihuahua and top stripe on mobile
$red: #ffa784; // column with chihuahua

$text: #515151; // for text
$links: #2666f8; // links
$border: #e1e1e1; // border after content
