$site-max-width: 1440px;
$cols: 5;

.container {
    height: 100%;
    margin: 0 auto;
}

.grid {
    display: block;

    @media (min-width: 960px) {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}

@for $i from 1 through 5 {
    .col-#{$i} {
        flex: $i;
    }
}
